<div class="space-y-4">
  <% @grouped_cards.each do |group_name, cards| %>
    <div class="overflow-hidden border rounded-xl bg-foreground border-highlight">
      <div class="px-4 py-3 border-b border-highlight bg-background">
        <h3 class="font-semibold text-white">
          <%= group_name %>
          <span class="font-normal text-grey-text">(<%= cards.sum(&:display_quantity) %>)</span>
        </h3>
      </div>

      <table class="min-w-full">
        <tbody class="divide-y divide-highlight">
          <% cards.sort_by { |c| c.magic_card.name }.each do |card| %>
            <%= render partial: 'card_row', locals: { card: card } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
