<h1>hi</h1>
<% if current_user %>
  <%= button_to 'Start Ingest Process', dashboard_ingest_path, method: :post, class: 'btn btn-primary' %>
  <%= link_to "Sign out", logout_path, data: { turbo_method: :delete }, class: "text-black" %>
<% end %>