<div class='flex flex-col flex-auto h-auto px-64 space-y-8 bg-dark-100'>
  <%= render partial: 'shared/page_header',
    locals: { header: 'Boxsets', subtext: 'View cards by selecting a specific boxset release. Click on a card to add to Collection.' }
  %>
  <%= render partial: 'shared/boxset_dropdown', locals: { options: @options.to_json } %>
  <div data-filter-dropdown-target="tableContainer" id="table-container" class='min-w-full px-16 mt-8 bg-dark-50'>
    <!-- Table will be loaded here -->
  </div>
</div>