<div class="flex flex-col items-center w-full mt-4 space-y-2">
  <% if controller_name == 'sessions' %>
    <%= link_to t('.reset_password'),
      new_password_reset_path,
      class: 'text-sm text-accent-50 hover:underline transition' %>
  <% else %>
    <%= link_to t('.log_in'),
      login_path,
      class: 'text-sm text-accent-50 hover:underline transition' %>
  <% end %>
  <% if controller_name != 'registrations' %>
    <%= link_to t('.sign_up'),
      sign_up_path,
      class: 'text-sm text-accent-50 hover:underline transition' %>
  <% end %>
</div>
